body {
    font-family: Arial, sans-serif;
    background-color: #b3dbf0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chat-container {
    background: #f9e6e6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.chat-header {
    text-align: center;
    margin-bottom: 20px;
}

#messages {
    list-style-type: none;
    padding: 0;
    max-height: 300px;
    overflow-y: scroll;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    flex-grow: 1;
}

#messages li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border-radius: 4px;
}

.message {
    display: flex;
    align-items: center;
}

.message .username {
    font-weight: bold;
    margin-right: 10px;
}

form {
    display: flex;
}

form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #cac5c5;
    border-radius: 4px;
    margin-right: 10px;
}

form input[type="text"]:first-child {
    margin-right: 10px;
}

form button {
    padding: 10px 20px;
    border: none;
    background-color: #1abf40;
    color: #f0e6e6;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #66e281;
}
